{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Welcome Admin!</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-one w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    <div class="db-info">
                        <h3>{{student_count}}</h3>
                        <h6>Students</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-three w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <div class="db-info">
                        <h3>{{course_count}}</h3>
                        <h6>Course</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-four w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-book"></i>
                    </div>
                    <div class="db-info">
                        <h3>{{subject_count}}</h3>
                        <h6>Subjects</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-two w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-icon">
                        <i class="fas fa-chalkboard-teacher"></i>
                    </div>
                    <div class="db-info">
                        <h3>{{assignment_count}}</h3>
                        <h6>Assignments</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="card-title">Student Result</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="teacher_allresult"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="card-title">Number of Students</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="teacher_stud_gender"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card card-chart">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-6">
                        <h5 class="card-title"></h5>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div id="chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title">Star Students</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th class="text-center">Marks</th>
                                <th class="text-center">Percentage</th>
                                <th>Course</th>
                                <th class="text-right">Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in top_students %}
                            <tr>
                                <td class="text-nowrap">{{ forloop.counter }}</td>
                                <td class="text-nowrap">{{ student.student_id.admin.first_name }} {{ student.student_id.admin.last_name }}</td>
                                <td class="text-center">{{ student.total_marks }}</td>
                                <td class="text-center">{{ student.percentage }}%</td>
                                <td class="text-nowrap">{{ student.subject_id.course.name }}</td>
                                <td class="text-right">{{ student.created_at.year }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

</div>



</div>
{% include 'includes/chart.html' %}

{% endblock %}