{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
             <form method="post" action="{% url 'add_teacher' %}" enctype="multipart/form-data">
                {% csrf_token %}
                   <div class="col-12">
                      <h5 class="form-title"><span>Add Teacher</span></h5>
                   </div>

                   {% include 'includes/messages.html' %}
                 
                   <div class="col-sm-11">
                      <div class="form-group">
                         <label>Profile Pic</label>
                         <input type="file" class="form-control" name="profile_pic" required title="Please upload a profile picture">
                      </div>
                   </div>
                   <div class="col-sm-11">
                      <div class="form-group">
                         <label>First Name</label>
                         <input type="text" class="form-control" name="first_name" required pattern="[A-Za-z]+" title="First name should contain only letters.">
                      </div>
                   </div>
                   <div class="col-sm-11">
                      <div class="form-group">
                         <label>Last Name</label>
                         <input type="text" class="form-control" name="last_name" required pattern="[A-Za-z]+" title="Last name should contain only letters.">
                      </div>
                   </div>
                 <div class="col-sm-11">
                      <div class="form-group">
                         <label>Email</label>
                         <input type="email" class="form-control" name="email" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" title="Please enter a valid email address.">
                      </div>
                   </div>
                 <div class="col-sm-11">
                      <div class="form-group">
                         <label>Username</label>
                         <input type="text" class="form-control" name="username" required pattern="^[a-zA-Z0-9]+$" title="Username should contain only letters and numbers.">
                      </div>
                   </div>
                 <div class="col-sm-11">
                      <div class="form-group">
                         <label>Password</label>
                         <input type="password" class="form-control" name="password" required pattern=".{5,}" title="Password must be at least 5 characters long.">
                      </div>
                   </div>
                 <div class="col-sm-11">
                      <div class="form-group">
                          <label>Address</label>
                          <textarea class="form-control" name="address" required title="Please enter your address."></textarea>
                      </div>
                   </div>

                 <div class="col-sm-11">
                      <label>Gender</label>
                         <select class="form-control" name="gender" required title="Please select your gender.">
                            <option value="">Select Gender</option>
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                            <option value="Others">Others</option>
                         </select>
                   </div>
                
                 <br>
                   <div class="col-12">
                      <button type="submit" class="btn btn-primary">Add Teacher</button>
                   </div>

             </form>
          </div>
       </div>
    </div>
 </div>
{% endblock %}
